:root {
	--background-color: #E0EFEA;
	--green-color: #445F3B;
	--grey-color: #677C77;
	--brown-color: #564734;
	}
	
	


html, body {
	display: flex;
	background: var(--background-color);
	height: 100vh;
	width: 100vw;
	justify-content: center;
	padding: 0;
	margin: 40px;
	justify-content: center;
}
	
.mainContainer {
	height: 300vh;
	width: 1600px;
	background: var(--green-color);
}

.logoContainer {
	height: 300px;
	display: flex;
	justify-content: center;
	background: var(--grey-color);
	}

.logoAB {
	padding: 30px;
	}

.menuBar {
	display: flex;
	justify-content: center;
	height: 100px;
	font-size: 50px;
	}


.button {
	text-align: center;	
	border: none;
	padding: 15px 30px;
	background-color: var(--brown-color);
}
