:root {
	--background-color: #e4d6cf;
	--header-color: #15725a;
	--footer-color: #15725a;
}	

* {
padding: 0;
margin: 0;
}


	


html, body {
	background-color: var(--background-color)
}

.header{
	width: 100vw;
	height: 100px;
	background-color: var(--header-color)
}

.navbar {
	width: 85%;
	justify-content: center;
}

.header_logo:{
	object-fit: contain;
	}
