/* color variables */
:root {
	--background-color: #15725a;
	--header-color: #15725a;
	--footer-color: #15725a;
}	


/* reset values */
* {
	padding: 0;
	margin: 0;
}


/* body shape */

html, body {
	background-color: green	;
	height: 100vh;
	width: auto;
	}

#splash-screen{
	width: 100vw;
	height: 100vh;
	border: 1px;
	position: relative;
	animation-name: splash-screen;
	animation-duration: 4s;
}

@keyframes splash-screen {
  0%   {left:0px; top:0px;}
  50% {left:0px; top:0px;}
  100%  {left:0px; top:-10000px;}

